<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Туры по России", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Главная",    root_path %></li>
          <li><%= link_to "Экскурсии",    help_path %></li>
          <li><%= link_to "Подать заявку", signup_path %></li>
          <li><%= link_to "О компании",   about_path %></li>
          <li><%= link_to "Контакты", contact_path %></li>
          <li><a href="http://www.zolotoe-koltso.ru//">Наши партнеры</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>